*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared style */

.btn{
    color: white;
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    /* width: 150px; */
    /* height: 65px; */
}

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.section-heading{
    max-width: 827px;
    text-align: center;
    margin: 0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.section-heading p{
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}


/* main style  */


.logo h2{
    font-size: 45px;
    font-weight: 900;
    width: 121px;
    height: 61px;
}
.color-orange{
    color: #FD6E0A;
}

header{
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png), #FFF8F3;
    background-position: 23px 38px , bottom right; 
    background-repeat: no-repeat;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between ;
    align-items: center;   
}
nav .menu{
    text-decoration: none;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 51px;
}
nav .menu a{
    font-size: 20px;
    text-decoration: none;
    color: #474747;
}
nav ul li button{
    font-size:20px;
    font-weight: bold;
}

#banner{
    /* border: 1px solid red; */
    margin: 47px 38px 0px 223px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}
#banner .banner-image img{
    max-width: 585px;
    vertical-align:middle;
}
#banner .banner-button button{
    font-size: 20px;
    font-weight:bold;
}
#banner .banner-button{
    display: flex;
    gap: 30px;
}
#banner .banner-button .btn1{
    color: #FD6E0A;
    border: 1px solid #FD6E0A;
    border-radius: 5px;
    width: 160px;
    height: 64px;
    cursor: pointer;
}
#about,
#skills,
#resume{
    padding-top: 130px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    padding: 131px 156px;
}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;

}
.about-info .info-card p{
    color: #757575;
    font-size: 20px;
    line-height: 30px;
}
.about-info .info-card h4{
    font-size: 20px;
    line-height: 30px;
    color: #474747;
    font-weight: bold;
}


#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
#skills .skills-container .skills-box{
    display: flex;
    gap: 24px;
}
.skills-box .skills-card{
    padding: 30px;
    max-width: 267px;
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.082);
}
.skills-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
.skills-card h4{
    color: #181818;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;   
}
.skills-card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
}
#resume .resume-container{
    display: flex;
    width: 71%;
    max-width: 1140px;
    margin: 113px auto 0;
    gap: 24px;
}
#resume .resume-container hr{
    margin: 30px 0;
}
.resume-container .section-title {
    color: #474747;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-container .resume-card{
    max-width: 511px;
    margin-right: 47px;
}
 .resume-card .card-title{
    font-size: 25px;
    font-weight: bold;
    color: #474747;
    margin-bottom: 10px;
}
 .resume-card .card-info{
    color: #757575;
    font-size:20px;
    font-weight: 600;
    margin-bottom: 20px;
}
 .resume-card .card-details{
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #757575;
 }
 .dlcv-button{
    text-align: center;
    margin-top: 50px;
}
footer{
    margin-top: 130px;
    background-color: #FFF8F3;
    padding: 130px 0;
}
footer .footer-container{
    width: 71%;
    max-width: 1140px;
    display: flex;
    margin: 0 auto;
    gap: 116px;

}
.footer-container h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container .social p{
    color: #474747;
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 30px;
}
.footer-container .icons a{
    margin-right: 24px;
}
.footer-container form input[type="text"],.footer-container form input[type="email"], .footer-container form textarea{
    width: 461px;
    padding: 18px 31px;
    margin-bottom: 24px;
    border: none;
    border-radius: 5px;
    color: #757575;
}

